.border {
	border: 1px outset #000000;
}
.border {
	border: 1px solid #000000;
}
.border {
	border: 1px solid #000000;
}
.border {
	background-color: #FFFFFF;
	border: 1px solid #000000;
}
